<div class="newTagForm">
    <form action=<%=`${submissionURL}`%> method="POST">
        <input class="newTagInput" type="text" name="newTagName" placeholder="New Tag Name">
        <button class="newTagButton">Add Tag</button>
    </form>
</div>