<div class="card">
  <h2>Create a folder</h2>
  <form action="<%= submissionURL %>" method="POST">
    <img class="folder" src="/icons/folder-plus.svg" alt="folder-plus" />
    <input type="text" name="name" placeholder="Folder name" />
    <input type="text" name="tags" placeholder="tagA, tagB, tagC" />
    <button type="submit">Create</button>
  </form>
</div>
