<div class="card">
  <form action="<%= submissionURL %>" method="POST">
    <img class="icon" src="/icons/folder-plus.svg" alt="folder-plus" />
    <input type="text" name="name" placeholder="Folder name" />
    <input type="text" name="tags" placeholder="tagA, tagB, tagC" />
    <button type="submit">Create Folder</button>
  </form>
</div>
