<form action="/upload" method="post" enctype="multipart/form-data">
  <img class="folder" src="/icons/file-plus.svg" alt="file" />
  <input type="file" name="file-upload" required/>
  <button>Upload File</button>
</form>
