<div>
  <h2>Folders</h2>
  <div class="folder-container">
    <% folders.forEach(folder => { %>
    <div class="folder-card">
      <img class="icon" src="/icons/folder.svg" alt="folder" />
      <h3 class="folder-name">
        <a href="/cloud/<%= folder.id %>"><%= folder.name %></a>
      </h3>
    </div>
    <% }) %>
  </div>
</div>
