<div class="folder-container">
  <div class="folder-card">
    <img class="icon" src="/icons/folder-return.svg" alt="folder" />
    <h3 class="folder-name">
      <a href="/cloud/<%= previousURL %>">Previous Folder</a>
    </h3>
  </div>
</div>
