<form action="/" method="POST">
  <h2>Create an account</h2>
  <div class="input-container">
    <input name="firstName" type="text" placeholder="First Name" />
    <label for="firstName"></label>
  </div>
  <div class="input-container">
    <input name="lastName" type="text" placeholder="Last Name" />
    <label for="lastName"></label>
  </div>
  <div class="input-container">
    <input name="email" type="text" placeholder="Email" />
    <label for="email"></label>
  </div>
  <div class="input-container">
    <input name="password" type="password" placeholder="Password" />
    <label for="password"></label>
  </div>
  <div class="input-container">
    <input
      name="confirm-password"
      type="password"
      placeholder="Confirm Password"
    />
    <label for="password"></label>
  </div>
  <button type="text">Submit</button>
</form>
