<form action="/" method="POST">
  <h2>Create an account</h2>
  <div class="input-container">
    <label for="firstName">
      <input
        id="firstName"
        name="firstName"
        type="text"
        placeholder="First Name"
        autocomplete="name"
        value="Nathan"
      />
    </label>
  </div>
  <div class="input-container">
    <label for="lastName">
      <input
        id="lastName"
        name="lastName"
        type="text"
        placeholder="Last Name"
        autocomplete="name"
        value="Jones"
      />
    </label>
  </div>
  <div class="input-container">
    <label for="email">
      <input
        id="email"
        name="email"
        type="text"
        placeholder="Email"
        autocomplete="email"
        value="njones@gmail.com"
      />
    </label>
  </div>
  <div class="input-container">
    <label for="password">
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Password"
        value="z!GTR7KK@)=cNyc"
      />
    </label>
  </div>
  <div class="input-container">
    <label for="confirmPassword">
      <input
        id="confirmPassword"
        name="confirmPassword"
        type="password"
        placeholder="Confirm Password"
        autocomplete="new-password"
        value="z!GTR7KK@)=cNyc"
      />
    </label>
  </div>
  <button type="text">Submit</button>
</form>
