<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloud</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('partials/navbar', {links: ['upload', 'logout']}) %>
    <h1>Here you can upload a single file at a time.</h1>
    <%- include('partials/file-upload-form') %>
  </body>
</html>
