:root {
  --background-color: hsl(211, 50%, 24%);
  --extra-background-color: hsl(214, 39%, 31%);
  --font-color: hsl(42, 59%, 94%);
  --accent-color: hsl(35, 50%, 91%);
  --form-background-color: hsl(209, 25%, 51%);
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  text-align: center;
  font-family: sans-serif;
}

header {
  font-variant: small-caps;
  text-decoration-thickness: 2px;
}

header h1::first-letter {
  font-size: 3rem;
}

.index-forms-container {
  display: flex;
  gap: 2rem;
}

form {
  background-color: var(--form-background-color);
  border-radius: 20px;
  margin-top: 2rem;
  padding: 1.25rem 1.25rem;
  width: 325px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

form h1,
form h2 {
  font-size: 1.75rem;
  color: #eee;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 2rem;
}

input {
  background-color: var(--background-color);
  border-radius: 12px;
  border: 0;
  outline: 0;
  color: var(--font-color);
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
}

::placeholder {
  color: var(--font-color);
  font-family: sans-serif;
  text-align: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form button {
  background-color: var(--accent-color);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--background-color);
  cursor: pointer;
  font-size: 1.25rem;
  height: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.error-message {
  color: #f55;
  list-style: none;
}

.folder {
  width: 4rem;
  place-self: center;
}
@media screen and (max-width: 800px) {
  .index-forms-container {
    flex-direction: column;
  }
}

nav {
  width: 100%;
  font-size: 1.5rem;
  background-color: var(--form-background-color);
  font-weight: bold;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-around;
  gap: 1rem;
  font-variant: small-caps;
}

nav a {
  text-decoration: none;
  color: var(--font-color);
}
